#root {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}

.logo {
    will-change: filter;
    transition: 300ms;
    user-select: none;
}
.logo:hover,
.logo:focus {
    scale: 1.05;
}
