#root {
    @apply bg-gray-100 text-gray-900 dark:bg-gray-900 dark:text-gray-100;
    max-width: 1280px;
    min-width: 320px;
    padding: 0 max(5dvw, 10px) 0 max(5dvw, 10px);

    text-align: center;
    transition: background-color 0.75s, color 0.25s;
}

@media screen and (max-width: 420px) {
    #root {
        padding: 0;
    }
}

.logo {
    position: relative;
    z-index: 1;
    will-change: filter;
    transition: 300ms;
    user-select: none;
}
.logo:hover,
.logo:focus {
    scale: 1.05;
}
