@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.rounded-card {
    @apply hidden md:block rounded-lg;
    min-width: 192px;
    max-width: 192px;
    height: auto;
    transition-property: box-shadow, transform;
    transition-duration: 300ms;
    /* box-shadow: rgba(227, 219, 219, 0.3) 0px 1px 2px 0px; */
    box-shadow: -10px -10px 15px rgba(20, 20, 20, 0.1), 10px 10px 15px rgba(20, 20, 20, 0.7);
    &:hover {
        /* scale: 1.01; */
        transform: scale(1.01);
        box-shadow: 8px 8px 15px rgba(20, 20, 20, 0.1), 12px 12px 15px rgba(20, 20, 20, 0.7);
    }
}

.shake {
    animation: shake 0.25s;
}
@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    20% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    40% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    60% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    80% {
        transform: translate(-1px, -2px) rotate(1deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}
